<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TODO</title>
  <script src="./script/vue2.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="inputValue">
    <button @click="btnClick">提交</button>
    <!-- 任务列表 -->
    <ul>
      <li v-for="item in todoListData">{{item}}</li>
    </ul>
  </div>


  <script>
    var app = new Vue({
      el: '#app',
      data: {
        todoListData: [],
        inputValue: ''
      },
      methods: {
        /* 提交 */
        btnClick: function (){
          this.todoListData.push(this.inputValue)
          this.inputValue = ''
        }
      }
    })
  </script>
</body>

</html>